{% extends "layout.html" %}

    {% block content %}
    <h1>Products available</h1>


    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Product ID</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Amount</th>
                <th scope="col">Buy</th>
            </tr>
            </thead>
            <tbody>

            <!-- Construct the rest of products here -->
            {% for data in product_data %}
            <tr>
                <td scope='row'>{{ data["product_id"] }}</td>
                <td>{{ data["title"] }}</td>
                <td>{{ data["description"] }}</td>
                <td>{{ data["amount"] }}</td>
                <td>
                  <form action="{{ url_for('purchase') }}" method="POST">
                    <input type="hidden" name="product_id" value="{{ data['product_id'] }}">
                    <input type="hidden" name="title" value="{{ data['title'] }}">
                    <input type="hidden" name="amount" value="{{ data['amount'] }}">
                    <button>Click to Buy</button>
                  </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
